* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear:both;

}

/*header*/

.header {
	height: 50px;
	width: 100%;
	background-color: red;
}

/*main-visual*/

.main-visual {
	height: 500px;
	width:100%;
	background-color: orange;
}

/*main*/

.main {
	height: 1400px;
	width: 100%;
}

.box1 {
	height: 1400px;
	width:960px;
	background-color: palegreen;
	margin: 0 auto;
}

.box2{
	height: 1400px;
	width:500px;
	background-color: limegreen;
	margin: 0 auto;
}

/*footer*/

.footer {
	height: 100px;
	width:100%;
	background-color: blue;
}